@charset "ISO-8859-1";

/*    ================ table font size ======= */
body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}

/* Logo and Other Details */
nav {
	padding: 0.5rem 0;
	margin-left: -230px;
	margin-bottom: 0;
	background-color: white;
}

.logo-img {
	margin-right: 30px;
	width: 190px;
	height: 50px;
}

.dashboard-heading {
	padding-right: 480px;
	font-size: 25px;
	font-weight: bold;
}

.login-container {
	display: flex;
	align-items: center;
	position: absolute;
	top: 15px;
	font-size: 13px;
	right: 10px;
}

.logged-in-as {
	margin-right: 5px;
	margin-top: 3px;
}

.user-info {
	color: black;
	margin-top: 3px;
	font-weight: bold;
	font-size: 13px;
}

.logout-button {
	color: black;
	background-color: white;
	border-color: white;
	font-weight: bold;
	font-size: 13px;
	margin-top: 3px;
}

.logout-icon {
	color: black;
}

#emailDisplay {
	display: none;
}

.table {
	border-collapse: collapse;
	border: 2px solid #000;
	width: 90%;
	margin-left: 10px;
}

.table-scroll {
	max-height: 333px;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
}

.table-container {
	overflow-x: auto;
	max-width: 100%;
	padding: 10px;
}

.table td {
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 12px;
}

.table th {
	border: 2px solid #000;
	background-color: #D3D3D3;
	padding: 10px;
	font-size: 14px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 330px;
}

.btn {
	position: relative;
	padding: 5px 10px;
	cursor: pointer;
}

.btn a {
	text-decoration: none;
	color: inherit;
}

.btn i {
	margin-left: 5px;
}

.btn-danger {
	background-color: #dc3545;
	border: 1px solid #dc3545;
	color: white;
}

.btn-danger:hover {
	background-color: #c82333;
}

.form-save,
.form-reject {
	display: flex;
	align-items: center;
}

.download-btn {
	margin-right: 10px;
	margin-left: 490px;
}

.save-btn {
	margin-right: -362px;
	margin-left: 260px;
}

.reject-btn {
	margin-left: 50px;
	margin-right: 50px;
}