/* body {
	background-color: #EEF5FF;
	font-family: Mulish semiBold;
}

.img-responsive {
	width: 250px;
}

.brand-image {
	margin-left: 0px;
}
 */
body {
	background-color: #EEF5FF;
    font-family: "Mulish SemiBold"; 
}

.img-responsive {
	width: 250px;
}
		
.brand-image {
	margin-left: 0px;
}

.card.shadow {
	background-color: #FFFFFF;
}

.navbar-brand {
	margin-left: 0px;
}

.navbar-brand img {
	width: 250px;
}

form {
	max-width: 500px;
	margin: 0 auto;
	padding: 30px;
	border: none;
	/* Remove border */
	background-color: #fff;
	border-radius: 15px;
	/* Add curved border */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* Add shadow */
	text-align: center;
}

.form-control {
	border-radius: 0;
}

.form-group.ntid {
	margin-bottom: 20px;
	/* Added margin bottom for NT ID input */
	width: 85%;
}

.form-group {
	width: 85%;
}

label {
	display: block;
	margin-bottom: 5px;
	text-align: left;
}

.input-group-text {
	display: flex;
	align-items: center;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	text-align: center;
	white-space: nowrap;
	background-color: var(--bs-tertiary-bg);
	border: none;
}

.input-group {
	margin-left: 20px;
}

.input-form-text {
	height: 32px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-left: 10px;
}

.text-center {
	width: 100%;
}

.btn {
	width: 25%;
}

.btn-primary {
	background-color: #000000;
}

.fa-white-bg {
	background-color: white;
	border: none;
	padding: 10px;
	border-radius: 4px 0 0 4px;
	
}

.input-group-text .fas 
{
	font-size: 1.3rem;
	margin-top:-5px;
}