@charset "ISO-8859-1";

/* ================ table font size ======= */
body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	/* Adjust the base font size as needed */
}


/* Logo and Other Details */
nav {
	padding: 0.5rem 0;
	margin-left: -230px;
	margin-bottom: 0;
	background-color: white;
}

.logo-img {
	margin-right: 30px;
	width: 190px;
	height: 50px;
}

.dashboard-heading {
	padding-right: 480px;
	font-size: 25px;
	font-weight: bold;
}

.login-container {
	display: flex;
	align-items: center;
	position: absolute;
	top: 15px;
	font-size: 13px;
	right: 10px;
}

.logged-in-as {
	margin-right: 5px;
	margin-top: 3px;
}

.user-info {
	color: black;
	margin-top: 3px;
	font-weight: bold;
	font-size: 13px;
}

.btn.btn-primary.logout-button {
	color: black;
	background-color: white;
	border-color: white;
	font-weight: bold;
	font-size: 13px;
	margin-top: 3px;
}

.btn.btn-primary.logout-button:hover {
	background-color: #007bff;
	color: white;
}


.logout-icon {
	color: black;
}

.table-scroll thead th {
	position: sticky;
	top: 0;
	background-color: #f2f2f2;
	width: 170px;
	font-size: 13px;
	z-index: 1;
	border: 1px solid #000;
}

.table {
	border-collapse: inherit;
	border: 2px solid #000;
	width: 90%;
	margin-left: 45px;
}

.table-scroll {
	max-height: 344px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
}

.table-container {
	overflow-x: auto;
	max-width: 40%;
	padding: 30px;
	margin-left: 390px;
}

.table td {
	padding: 10px;
	border: 1px solid #000;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
}

.table th {
	border: 2px solid #000;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}