body {
	background-color: #FEFBF6;
	font-family: "Mulish SemiBold";
}

.img-responsive {
	width: 250px;
}

.brand-image {
	margin-left: 0px;
}

.card {
	--bs-card-spacer-x: none;
}

.card-brand-name {
	border-radius: 0;
}

.card.shadow {
	background-color: #FFFFFF;
}

.nav-link {
	color: white;
	font-size: 20px;
}

.nav-link:hover {
	color: orange;
}

.custom-size {
	font-size: 2.5em;
}

.logout-button-color {
	border-color: coral;
}

/* Optional: Adjustments for table layout */
.table {
	--bs-table-bg: none;
}

.container table.table thead {
	background-color: #2E4374;
}

/* Table */
.container-table {
	margin-top: 20px;
}

.table th, .table td {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px auto;
}

th, td {
	border: 1px solid #333333;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f2f2f2;
	font-size: 15px;
}

td {
	font-size: 14px;
}


/* Disabled button styles */
.action-button:disabled {
	background-color: #000000;
	cursor: not-allowed;
}

.logout-button-color:hover{
background-color: #FEFBF6;
color:white;
}
