@charset "ISO-8859-1";

body {
	background-color: #FEFBF6;
	font-family: "Mulish SemiBold";
	font-size: 16px;
}

.img-responsive {
	width: 250px;
}

.brand-image {
	margin-left: 0px;
}

.card {
	--bs-card-spacer-x: none;
}

.card-brand-name {
	border-radius: 0;
}

.card.shadow {
	background-color: #FFFFFF;
}

.nav-link {
	color: white;
	font-size: 20px;
}

.nav-link:hover {
	color: orange;
}

.custom-size {
	font-size: 2.5em;
}

.logout-button-color {
	border-color: coral;
}


/* Common form styles */
.form-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-top: 50px;
}

/* Heading styles */
.form-heading {
	font-size: 21px;
	margin-bottom: 10px;
	font-weight: bold;
}

/* Label styles */
.form-label {
	display: block;
	margin-bottom: 5px;
	text-align: left;
}

/* Input styles */
.form-input {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Button styles */
.form-button {
	display: block;
	width: 100%;
	padding: 10px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}
.logout-button-color:hover{
background-color: #FEFBF6;
color:white;
}